rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Función para verificar si el usuario es administrador
    function isAdmin() {
      return request.auth != null && 
        request.auth.token.email == 'pabloemmanueldeleo@gmail.com';
    }
    
    // Permitir lectura sin restricciones por CORS
    match /{allPaths=**} {
      allow read;
      allow write: if isAdmin();
    }
  }
} 